@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shadow {
    box-shadow: 0px 7px 20px -6px #3a57431c;
}

.active {
    @apply text-white bg-[#3A5743];
}
